---
import SiteLayout from '../../layouts/SiteLayout.astro';
import Container from '../../components/UI/Container.astro';

---

<SiteLayout title="About" description="About elwoodp.dev">
	<Container>
			<h1>About</h1>
			<p>Hello I'm Paul, a designer-developer based in York, UK. I built my first client website in 2001 learning as I went. <a href="#">20 years later</a> I’m taking a number of courses to fill gaps in my knowledge and become a better developer. This website is home to a few learning <a href="#">projects</a> charting my progress and <a href="#">writings</a> about what I learn.</p>
	</Container>
</SiteLayout>
