---
import HeroHeading from './HeroHeading.astro';
import Meta from '@components/Headers/Meta/Meta.astro';
import MetaDivider from '@components/Headers/Meta/MetaDivider.astro';
import Tag from '@components/UI/Tag.astro';

const { title, date, tags } = Astro.props;
---

<header>
  <HeroHeading title={title} />
  <Meta>
    <div class="meta__author">
      <div class="meta__avatar"><img src="/images/memoji-paul.png" width="54px" height="52px" /></div>
      Paul Littlewood
    </div>
    <MetaDivider />
    <date>{date}</date>
    <MetaDivider />
    <ul class="tag-list">
      {tags.map((tag) => <Tag tag={tag} />)}
    </ul>
  </Meta>
</header>

<style>
  @import '../../styles/vars.css';
  @import '../../styles/mixins/mixins.css';

  header {
    display: flex;
    flex-direction: column;
    row-gap: fluid(24px, 32px, toRem);
    align-items: center;
    font-size: toRem(14px);
  }

  .meta__author {
    display: flex;
    align-items: center;
    column-gap: toRem(8px);
  }

  .meta__avatar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 100px;
    background-color: $gray-300;
    overflow: hidden;
    img {
      width: 93%;
      image-rendering: -webkit-optimize-contrast;
    }
  }

  .tag-list {
    display: flex;
    align-items: center;
    gap: 8px;
  }
</style>
