---
import SiteLayout from '../../layouts/SiteLayout.astro';
import Container from '../../components/UI/Container.astro';
import PageList from '../../components/PageList/PageList.astro';

---

<SiteLayout>
  <Container>
    <div class="hero">
      <h1>Articles</h1>
    </div>
    <PageList type="articles" title="Articles" />
  </Container>
</SiteLayout>