---
const { articleUrl, title, tags, date } = Astro.props;
---

<li class="article">
  <a class="title-link" href={articleUrl}>
    <header>
      <h3>{title}</h3>
      <ul class="tags">
        { tags.map((tag) => (
        <li>{tag}</li>
        ))}
      </ul>
    </header>
    <date>{date}</date>
  </a>
</li>


<style>
  .title-link {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 2rem;

    &:hover h3 {
      text-decoration: underline;
    }
  }

  header {
    display: flex;
    gap: 2rem;
  }

  .tags {
    display: flex;
    gap: 1rem;
  }
</style>