---
const { articleUrl, title, tags, date } = Astro.props;
---

<li class="article">
  <a class="title-link" href={articleUrl}>
    <header>
      <h3>{title}</h3>
      <ul class="tags">
        { tags.map((tag) => (
        <li class="tag">{tag}</li>
        ))}
      </ul>
    </header>
    <date>{date}</date>
  </a>
</li>


<style>
  @import "../../styles/mixins/mixins.css";

  .title-link {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 1.5rem;

    &:hover h3 {
      text-decoration: underline;
      @mixin theme-colors #fff, var(--gray-950);
    }
  }

  header {
    display: flex;
    gap: 2rem;
  }

  .tags {
    display: flex;
    align-items: center;
    gap: .75rem;
  }

  .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 4px;
    font-size: 0.8125rem;
    line-height: 1;
    border-radius: 3px;
    border: 1px solid;
    @mixin theme-background-colors var(--gray-900), var(--red);
    @mixin theme-border-colors rgba(var(--gray-700-rgb), .35), var(--red);
    @mixin theme-colors var(--gray-600), var(--red);
  }

  date {
    font-size: 0.875rem;
  }
</style>