---
import Tag from "@components/UI/Tag.astro";

const { articleUrl, title, tags, date } = Astro.props;
---

<li class="article">
  <a class="title-link" href={articleUrl}>
    <header>
      <h3>{title}</h3>
      <ul class="tag-list">
        { tags.map((tag) => (
          <Tag tag={tag} />
        ))}
      </ul>
    </header>
    <date>{date}</date>
  </a>
</li>


<style>
  @import "../../styles/mixins/mixins-scoped.css";

  .title-link {
    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: 1.5rem;

    &:hover h3 {
      text-decoration: underline;
    }
  }

  header {
    display: flex;
    gap: 2rem;
  }

  .tag-list {
    display: flex;
    align-items: center;
    gap: .75rem;
    @media (max-width: 700px) {
      display: none;
    }
  }

  date {
    font-size: 0.875rem;
  }

  /* Cleanup on small mobile */
  @media (max-width: 413px) {
    .title-link {
      grid-template-columns: 1fr;
    }

  }
</style>