---
const { title, type } = Astro.props;
---

<header>
  <h2>{title}</h2><a href={`/${type}`}>View All</a>
</header>

<style>
  @import "../../styles/vars.css";
  @import "../../styles/mixins/mixins.css";
  
  header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: end;
    gap: 1rem;
    padding-inline: fluid(24px, 48px);
    padding-top: toRem(28px);
    padding-bottom: toRem(20px);
    /* margin-bottom: toRem(20px); */
    border-bottom: 1px solid;
    @mixin theme(background-color, $gray-50, transparent);
    @mixin theme(border-color, alpha($gray-300, 50%), alpha($gray-800, 40%));
    @mixin theme(color, $gray-900, $white);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-weight: 500;
    line-height: 1;
  }

  h2 {
    font-size: toRem(20px);
  }

  header a {
    &:hover {
      color: $blue;
    }
  }

  /* Cleanup on small mobile */
  @media (max-width: 413px) {
    header a {
      display: none;
    }
  }
  
</style>