---
import ProjectListItem from './ProjectListItem.astro';
const { type, title } = Astro.props;
const projects = await Astro.glob('../../pages/projects/*.md');
// const articles = await Astro.glob('../../pages/articles/*.md');
const showProjects = true;
---

<section>
  <header>
    <h2>{title}</h2><a href="#">View All</a>
  </header>
  <ul>
    {(type === 'projects') && projects.map((project) => (
      <ProjectListItem projectUrl={project.url} {...project.frontmatter} />
    ))}
    <!-- {(type === 'articles') && projects.map((article) => (
      <ArticleListItem {...article.frontmatter} />
    ))} -->
  </ul>
</section>

<style>
  header {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 1rem;
  }
</style>