---
import PageListHeader from './PageListHeader.astro';
import ProjectListItem from './ProjectListItem.astro';
import ArticleListItem from './ArticleListItem.astro';

const { type, title, maxNumber, displayHeader } = Astro.props;
const projects = await Astro.glob('../../pages/projects/*.md');
const articles = await Astro.glob('../../pages/articles/*.md');
// Order both by date
projects.sort((a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date))
articles.sort((a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date))
---

<section>
  { displayHeader && <PageListHeader title={title} type={type} /> }
  <ul>
    {(type === 'projects') && projects.slice(0, maxNumber).map((project) => (
    <ProjectListItem projectUrl={project.url} {...project.frontmatter} />
    ))}
    {(type === 'articles') && articles.slice(0, maxNumber).map((article) => (
    <ArticleListItem articleUrl={article.url} {...article.frontmatter} />
    ))}
  </ul>
</section>


<style>
  @import "../../styles/mixins/mixins-scoped.css";

  /* Common styling for child elements */
  section :global(li:is(.project, .article)) {
    margin-inline: -1rem;
    padding-inline: 1rem;
    border-radius: 8px;
    &:hover {
      @mixin theme-background-colors rgba(var(--gray-925-rgb), .8), rgba(var(--gray-100-rgb), .75);
    }
  }
  section :global(li:is(.project, .article) a) {
    padding-block: 0.75rem;
  }

</style>