---
import ProjectListItem from './ProjectListItem.astro';
import ArticleListItem from './ArticleListItem.astro';

const { type, title, maxNumber } = Astro.props;
const projects = await Astro.glob('../../pages/projects/*.md');
const articles = await Astro.glob('../../pages/articles/*.md');
// Order both by date
projects.sort((a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date))
articles.sort((a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date))
---

<section>
  <header>
    <h2>{title}</h2><a href={`/${type}`}>View All</a>
  </header>
  <ul>
    {(type === 'projects') && projects.slice(0, maxNumber).map((project) => (
    <ProjectListItem projectUrl={project.url} {...project.frontmatter} />
    ))}
    {(type === 'articles') && articles.slice(0, maxNumber).map((article) => (
    <ArticleListItem articleUrl={article.url} {...article.frontmatter} />
    ))}
  </ul>
</section>


<style>
  @import "../../styles/mixins/mixins-scoped.css";
  
  header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: end;
    gap: 1rem;
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;
    border-bottom: 1px solid;
    @mixin theme-border-colors rgba(var(--gray-700-rgb), 0.35), rgba(var(--gray-500-rgb), 0.25);
  }

  h2 {
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 1;
    @mixin theme-colors var(--gray-50), var(--gray-800);
  }

  header a {
    font-weight: 600;
    line-height: 1;
    @mixin theme-colors var(--gray-50), var(--gray-800);
    &:hover {
      text-decoration: underline;
    }
  }

  /* Common styling for child elements */
  section :global(li:is(.project, .article)) {
    margin-inline: -1rem;
    padding-inline: 1rem;
    border-radius: 8px;
    &:hover {
      @mixin theme-background-colors rgba(var(--gray-925-rgb), .8), var(--gray-100);
    }
  }
  section :global(li:is(.project, .article) a) {
    padding-block: 0.75rem;
  }

</style>