---
import HeroHeading from "./HeroHeading.astro";
import Tag from "@components/UI/Tag.astro";

const { title, date, tags } = Astro.props;
---

<header>
  <HeroHeading title={title} />
  <div class="meta">
    <date>{date}</date>
    <ul class="tag-list">
      { tags.map((tag) => (
        <Tag tag={tag} />
      ))}
    </ul>
  </div>
</header>

<style>
  @import "../../styles/mixins/mixins-scoped.css";

  header {
    display: flex;
    flex-direction: column;
    @mixin fluid-gap 2, 2.5;
    align-items: center;
  }

  .meta {
    display: flex;
    gap: 2rem;
  }

  .tag-list {
    display: flex;
    align-items: center;
    gap: .75rem;
  }
</style>
