---
---

<div class="hero">
  <header><h1>Hello!</h1><img class="memoji" src="/images/memoji-paul.png" width="54px" height="52px" alt="Paul behind a computer in the style of an memoji." /></header>
  <p>
    I’m Paul, a designer-developer based in York, UK. I’ve been building websites for 20 years. The web has changed quite a bit in that time, so I’m taking some time to sharpen my
    skills and become a better developer. This website charts my progress.
  </p>
</div>

<style>
  @import '../../styles/vars.css';
  @import '../../styles/mixins/mixins.css';

  header {
    display: flex;
    align-items: flex-end;
    column-gap: toRem(16px);
  }

  .memoji {
    width: fluid(39.6px, 54px, toRem);
    image-rendering: -webkit-optimize-contrast;
  }

  .hero {
    display: flex;
    flex-direction: column;
    gap: toRem(32px);
  }

  h1 {
    font-size: fluid(44px, 60px, toRem);
    letter-spacing: -0.1rem;
    @mixin theme(color, $gray-900, $white);
    @mixin theme(font-weight, 660, 610);
    line-height: 72%;
  }

  p {
    align-self: flex-end;
    font-size: fluid(18px, 24px, toRem);
    line-height: 155%;
  }

  a {
    color: $blue;
    position: relative;
    &:hover{
      color: $blue-500;
    }
  }
</style>
