<div class="hero">
  <h1>Hi, I'm Paul</h1>
  <p>
    I’m a designer-developer based in York, UK. I built my first website in 2001 learning as I went. <a href="#">20 years</a> later I’m taking some time to study modern web development, fill gaps in my
    knowledge and become a better developer. This website is home to a few <a href="#">projects</a> charting my progress and <a href="#">articles</a> about interesting things I learn along the way.
  </p>
</div>

<style>
  @import '../../styles/vars.css';
  @import '../../styles/mixins/mixins.css';

  .hero {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  h1 {
    font-size: fluid(44px, 60px, toRem);
    line-height: 110%;
    letter-spacing: -0.1rem;
    /* @mixin theme(color, var(--gray-800), var(--gray-50)); */
    @mixin theme(font-weight, 775, 700);
    color: alpha($test-colour, .2);
  }

  p {
    align-self: flex-end;
    font-size: fluid(18px, 24px, toRem);
    line-height: 160%;
  }

  a {
    color: var(--blue);
    &:hover {
      text-decoration: underline;
    }
  }
</style>
