---
const { title } = Astro.props;
---

<h1>{title}</h1>

<style>
  @import "../../styles/vars.css";
  @import "../../styles/mixins/mixins.css";

  h1 {
    font-size: fluid(44px, 60px, toRem);
    line-height: 110%;
    letter-spacing: -0.1rem;
    @mixin theme(color, $gray-900, $white);
    @mixin theme(font-weight, 650, 600);
    letter-spacing: -0.1rem;
    text-align: center;
  }
</style>