---
import ProjectIcon from "@components/Icons/ProjectIcon.astro";
import HeroHeading from "./HeroHeading.astro";

const { content } = Astro.props;
---


<header>
  <span class="icon">
    <ProjectIcon icon={content.icon} />
  </span>
  <HeroHeading title={content.title} />
  <div class="external-links">
    <a class="external-link" href={`https://github.com/${content.sourceUrl}`}>Source</a>
    <a class="external-link" href={content.liveUrl}>Live</a>
  </div>
</header>


<style>
  @import "../../styles/mixins/mixins.css";

  header {
    display: flex;
    flex-direction: column;
    @mixin fluid gap, 2, 2.5;
    align-items: center;
  }

  .icon :global(svg) {
    @mixin fluid width, 5.625, 7;
    @mixin fluid height, 5.625, 7;
  }

  .external-links {
    display: flex;
    gap: 1rem;
  }

  .external-link {
    padding: 4px 8px;
    border: 1px solid;
    @mixin theme border-color, rgba(var(--gray-700-rgb), .75), var(--gray-200);
    border-radius: 3px;
    line-height: 100%;
  }

  .external-link:hover {
    @mixin theme border-color, var(--gray-600), rgba(var(--gray-600-rgb), .6);
  }
</style>