/* .link--highlight {
  font-weight: 600;
  color: var(--blue);
  &:hover {
    text-decoration: underline;
  }
} */

.text-blue {
  color: var(--blue);
}

.font-600 {
  font-weight: 600;
}

.hover\:underline:hover {
  text-decoration: underline;
}

