:root {
  --gray-50: #F7F7F9;
  --gray-50-rgb: 247, 247, 249; 
  --gray-100: #F0F0F3;
  --gray-200: #DBDCDF;
  --gray-300: #CCCDD1;
  --gray-300-rgb: 204, 205, 209;
  --gray-500: #BEC0C5;
  --gray-500-rgb: 190, 192, 197;
  --gray-600: #6A6F77;
  --gray-700: #4D535D;
  --gray-700-rgb: 77, 83, 93;
  --gray-800: #313843;
  --gray-900: #2C323C;
  --gray-925: #262C35;
  --gray-925-rgb: 38, 44, 53;
  --gray-950: #21262E;
 
  --blue: #5D86EB;
  --cyan: #6EBAF4;
  --red: #EC6B77;
  --yellow: #F6CB80;

  --min-vw: 400;
  --max-vw: 760;
}