/* Default to dark */
/* :root {
  --gray-100: #2c323d;
  --gray-950: #f4f5f7; 
}

[data-theme='light'] {
  --gray-100: #f4f5f7;
  --gray-950: #2c323d;
} */

:root {
  --gray-50: #fbfbfb;
  --gray-100: #f5f5f6;
  --gray-200: #edeef0;
  --gray-300: #e0e1e4;
  --gray-500: #c5c8ce;
  --gray-600: #7f8694;
  --gray-700: #555c69;
  --gray-800: #3f444f;
  --gray-900: #282d35;
  --gray-950: #23272f;

  --blue: #5b86eb;
  --cyan: #86e6ff;
  --red: #ff7d61;
  --yellow: #fff06c;
}