---
import ThemeToggle from './ThemeToggle.astro';
import IconMenu from '@assets/icons/icon-menu.astro';
import IconX from "@assets/icons/icon-x.astro";
---

<header>
  <nav id="header-nav" tabindex="-1">
    <ul id="header-nav__list">
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/articles/">Articles</a></li>
    </ul>
    <button id="header-nav__close-button" class="header-nav__close-button"><IconX /></button>
  </nav>
  <ThemeToggle />
  <button id="header-nav__open-button" class="header-nav__open-button"><IconMenu /></button>
</header>


<style>
  @import "../../styles/mixins/mixins.css";

  header {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
    @mixin theme-old background-color, var(--gray-925), var(--gray-100);
  }

  nav {
    display: none;
  }

  .nav--overlay {
    position: fixed;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%; 
    height: 100%;
    inset: 0;
    @mixin theme-old background-color, rgba(var(--gray-925-rgb), 0.9), rgba(var(--gray-50-rgb), 0.9);
    backdrop-filter: blur(6px);
    z-index: 2;
  }

  .nav--overlay  :global(ul) {
    position: relative;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    @mixin theme-old color, var(--gray-50), var(--gray-800);
    z-index: 3;
  }

  a:hover {
    text-decoration: underline;
  }

  .header-nav__open-button {
    @mixin theme-old color, var(--gray-50), var(--gray-900);
  }

  .header-nav__close-button {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    @mixin theme-old color, var(--gray-50), var(--gray-900);
  }

  /* Tablet and up */
  @media (min-width: 768px) {
    header {
      justify-content: flex-end;
    }

    nav {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    .header-nav__list {
      display: flex !important;
    }

    ul {
      display: flex;
      gap: 2rem;
    }

    .header-nav__open-button, .header-nav__close-button {
      display: none;
    }
  }
</style>


<script>
  const headerNav = document.getElementById('header-nav');
  const headerNavList = document.getElementById('header-nav__list');
  const menuToggleButton = document.getElementById('header-nav__open-button');

  menuToggleButton.addEventListener('click', (e) => menuButtonHandler(e));
  headerNavList.addEventListener('click', (e) => headerNavListClickHandler(e));
  headerNav.addEventListener('click', (e) => headerNavClickHandler(e));

  function menuButtonHandler(e) {
    headerNav.classList.toggle('nav--overlay');
    headerNav.focus({preventScroll: true}); // Accessibility: take focus from menu button to headerNav so nav links can be tabbed - https://stackoverflow.com/a/70852588/1954838
  }

  function headerNavListClickHandler(e) {
     e.stopPropagation(); // Stop clicks through list element closing overlay
  }

  function headerNavClickHandler(e) {
    headerNav.classList.remove('nav--overlay');
  }
</script>