---
import IconSun from '@assets/icons/icon-sun.astro';
import IconMoon from '@assets/icons/icon-moon.astro';
---

<button id="theme-toggle" data-toggle-theme="light,dark" data-act-class="active">
  <div class="icon icon-sun">
    <IconSun />
  </div>
  <div class="icon icon-moon">
    <IconMoon />
  </div>
</button>

<style>
  @import '../../styles/vars.css';
  @import '../../styles/mixins/mixins.css';

  button {
    display: flex;
    gap: 0.3rem;
    padding: 0.2rem;
    border-radius: 100px;
    @mixin theme(background-color, $gray-300, $gray-800);
    overflow: hidden;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    :global(svg) {
      padding: .5px;
    }
  }

  .icon-moon {
    @mixin theme(background-color, transparent, $white);
    @mixin theme(color, $gray-600, $gray-950);
    --box-shadow-dark: 0px 0.25px 2px alpha($gray-975, 40%), 0px 0.25px 15px 1px alpha($gray-975, 50%);
    @mixin theme(box-shadow, none, var(--box-shadow-dark));
  }

  .icon-sun {
    @mixin theme(background-color, $white, transparent);
    @mixin theme(color, $gray-800, $gray-950);
    --box-shadow-light: 0px 0.25px 2px alpha($gray-700, 50%), 0px 0.25px 10px 1px alpha($gray-700, 30%);
    @mixin theme(box-shadow, var(--box-shadow-light), none);
  }
</style>

<script>
  import { themeChange } from 'theme-change';
  themeChange();
</script>
