---
import IconSun from '@assets/icons/icon-sun.astro';
import IconMoon from '@assets/icons/icon-moon.astro';
---

<button id="theme-toggle" data-toggle-theme="light,dark" data-act-class="active">
  <div class="icon icon-sun">
    <IconSun />
  </div>
  <div class="icon icon-moon">
    <IconMoon />
  </div>
</button>


<style>
  @import "../../styles/mixins/mixins-scoped.css";

  button {
    display: flex;
    gap: .3rem;
    padding: 0.20rem;
    border-radius: 100px;
    background-color: var(--gray-800);
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    color: var(--gray-600);
  }
  
  .icon-moon {
    @mixin theme-background-colors #fff, transparent;
    @mixin theme-colors var(--gray-925), var(--gray-600);
  }

  .icon-sun {
    @mixin theme-background-colors transparent, #fff;
    @mixin theme-colors var(--gray-600), var(--gray-925);
  }
</style>


<script>
  import { themeChange } from 'theme-change';
  themeChange();
</script>