---
import SiteLayout from '../layouts/SiteLayout.astro';
import Container from '../components/UI/Container.astro';
import PageList from '../components/PageList/PageList.astro';

---

<SiteLayout title="ElwoodP.dev" description="Learning to code again, a designer becomes a better developer.">
	<Container>
		<div class="hero">
			<h1>Hi, I'm Paul</h1>
			<p>I’m a designer-developer based in York, UK. I built my first website in 2001 learning as I went. <a href="#">20 years</a> later I’m taking some time to study modern web development, fill gaps in my knowledge and become a better developer. This website is home to a few <a href="#">projects</a> charting my progress and <a href="#">articles</a> about interesting things I learn along the way.</p>
		</div>
	</Container>

	<Container>
		<PageList type="projects" title="Recent Projects" maxNumber={10} />
		<PageList type="articles" title="Recent Articles" maxNumber={10} />
	</Container>
</SiteLayout>

<style>
	@import "../styles/mixins/mixins.css";

	.hero {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	h1 {
		@mixin fluid-font-size 2.75, 3.75;
		line-height: 110%;
		letter-spacing: -0.1rem;
		@mixin theme-colors var(--gray-50), var(--gray-800);
		@mixin theme-font-weights 700, 775;
	}

	p {
		align-self: flex-end;
		@mixin fluid-font-size 1.125, 1.375;
		line-height: 160%;
	}

	a {
		color: var(--blue);
		&:hover {
			text-decoration: underline;
		}
	}
</style>