---
import '../styles/normalize.css';
import '../styles/vars.css';

import Test from '../components/Test.astro';
---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Astro</title>
</head>

<body>
	<Test />
</body>

</html>