---
import { Icon } from 'astro-icon';
---

<footer>
  <div>Made by Paul Littlewood</div>
  <nav>
    <a href="https://astro.build/"><span class="icon"><Icon name="icon-footer-astro"></span>Astro</a>
    <a href="https://www.netlify.com/"><span class="icon"><Icon name="icon-footer-netlify"></span>Netlify</a>
    <a href="https://github.com/Elwood-P"><span class="icon"><Icon name="icon-footer-github"></span>GitHub</a>
  </nav>
</footer>

<style>
  @import '../styles/vars.css';
  @import '../styles/mixins/mixins.css';

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    padding-block: fluid(48px, 72px, toRem);
    @mixin theme(color, $gray-800, $gray-300);
    font-size: 0.875rem;
  }

  nav {
    display: flex;
    gap: 1.5rem;
  }

  a {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    line-height: 1;
    &:hover {
      color: $blue;
    }
  }

  .icon {
    @mixin theme(color, $gray-800, $gray-300);
    & :global(svg) {
      width: 21px;
    }
  }
</style>
