---
const {title = "elwoodp.dev", description = "Learning to code again, projects and articles by Paul Littlewood"} = Astro.props;
---
{/* <head> TODO: Uncomment when bug fixed:https://github.com/withastro/astro/issues/3819 */}
<meta charset="utf-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<title>{title}</title>

<link rel="icon" href="/favicon.svg" />
{/* </head> */}