---
const {title = "elwoodp.dev", description = "Learning to code again, projects and articles by Paul Littlewood"} = Astro.props;
---
<head>
  <meta charset="utf-8" />
  <meta name="description" property="og:description" content={description} />
  <meta name="viewport" content="width=device-width" />
  <title>{title}</title>
  <link rel="icon" href="/favicon.svg" />
  <link rel="stylesheet" href="/styles/normalize.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400..775&display=swap" rel="stylesheet">  
</head>