---
import ThemeToggle from './ThemeToggle.astro';
import IconMenu from '../assets/icons/icon-menu.astro';
---

<header>
  <nav>
    <ul id="header-menu__list" class="hidden">
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/articles/">Articles</a></li>
    </ul>
    <button id="header-menu__toggle"><IconMenu /></button>
  </nav>
  <ThemeToggle />
</header>


<style>
  @import "../styles/mixins.css";

  header {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    padding: 1rem;
    @mixin theme-background-colors var(--gray-925), var(--gray-100);
  }

  nav {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  ul {
    display: flex;
    gap: 2rem;
  }

  a:hover {
    @mixin theme-colors var(--gray-50), var(--gray-950);
  }

  button {
    @mixin theme-colors var(--gray-50), var(--gray-900);
    &:focus {
      outline: -webkit-focus-ring-color auto 1px;
    }
  }

  .hidden {
    display: none !important;
  }
</style>


<script>
  const mainMenu = document.getElementById('header-menu__list');
  const menuToggleButton = document.getElementById('header-menu__toggle');

  menuToggleButton.addEventListener('click', (e) => menuButtonHandler(e));

  function menuButtonHandler(e) {
    mainMenu.classList.toggle('hidden');
    mainMenu.classList.contains('hidden') && e.currentTarget.blur();
  }
</script>