<span class="meta__divider" aria-hidden="true"></span>

<style>
  @import "../../../styles/vars.css";
  @import "../../../styles/mixins/mixins.css";

  .meta__divider {
    width: 1px;
    height: toRem(14px);
    @mixin theme(background-color, $gray-300, $gray-850);
  }
</style>