---
import SiteLayout from "./SiteLayout.astro";
import Container from "../components/UI/Container.astro";
import { Markdown } from 'astro/components';

const { content } = Astro.props;
---

<SiteLayout title={content.title} description={content.description}>
  <Container>
    <div>
      <slot />
    </div>
  </Container>
</SiteLayout>