---
import '../styles/normalize.css';
import '../styles/vars.css';

import Head from '../components/Head.astro';
import PageHeader from '../components/PageHeader.astro'
import Footer from '../components/Footer.astro';

const { title, description } = Astro.props;
---

<html lang="en" data-theme="dark">

<Head title={title} description={description} />

<body>
  <PageHeader />
  <slot />
  <Footer />
</body>

</html>

<style is:global>
  body {
    display: flex;
    flex-direction: column;
    gap: 6.25rem;
    background-color: var(--gray-900);
    /* background: radial-gradient(50vw 75vh at 40% 0%, var(--gray-950) 0%, var(--gray-900) 100%), var(--gray-900); */
    color: var(--gray-500);
    font-family: 'Inter', sans-serif;

    [data-theme='light'] & {
      background-color: var(--gray-50);
      /* background: radial-gradient(50vw 75vh at 40% 0%, #fff 0%, var(--gray-50) 100%), var(--gray-50); */
      color: var(--gray-700);
    }
  }
</style>