---
import '@styles/vars.css';
import Head from '@components/Head.astro';
import PageHeader from '@components/PageHeader/PageHeader.astro'
import Footer from '@components/Footer.astro';

const { title, description } = Astro.props;
---

<html lang="en" data-theme="dark">
  <Head title={title} description={description} />
  <body>
    <PageHeader />
    <slot />
    <Footer />
  </body>  
</html>


<style>
  @import "../styles/mixins/mixins.css";

  body {
    display: flex;
    flex-direction: column;
    @mixin fluid-gap 5, 7.5;
    @mixin theme background-color, var(--gray-900), rgba(var(--gray-50-rgb), .75);
    @mixin theme color, var(--gray-300), var(--gray-700);
    font-family: 'Inter', sans-serif;
  }
</style> 