---
import '../styles/normalize.css';
import '../styles/vars.css';

import Head from '../components/Head.astro';
import PageHeader from '../components/PageHeader.astro'
import Footer from '../components/Footer.astro';

const { title, description } = Astro.props;
---

<html lang="en">
  {/* TODO: Move <head> tag to component, currently broken - bug: https://github.com/withastro/astro/issues/3819 - upgrade and move when fixed */}
  <head> 
    <Head title={title} description={description} />
  </head>
  <body>
    <PageHeader />
    <slot />
    <Footer />
  </body>
</html>


<style>
  body {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    background-color: var(--gray-100);
    color: var(--gray-950);
  }
</style>
