---
import '@styles/vars.css';
import Head from '@components/Head.astro';
import PageHeader from '@components/PageHeader/PageHeader.astro'
import Footer from '@components/Footer.astro';

const { title, description, bodyClass } = Astro.props;
---

<html lang="en" data-theme="dark">
  <Head title={title} description={description} />
  <body class={bodyClass}>
    <PageHeader />
    <slot />
    <Footer />
  </body>  
</html>


<style>
  @import "../styles/vars.css";
  @import "../styles/mixins/mixins.css";

  body {
    display: flex;
    flex-direction: column; 
    row-gap: fluid(80px, 120px, toRem);
    @mixin theme(background-color, $gray-100, $gray-950);
    @mixin theme(color, $gray-800, $gray-300);
    font-family: 'Inter', sans-serif;
    line-height: 155%;
    &.markdown {
      @mixin theme(background-color, $gray-50, $gray-950);
    }
  }
</style> 