/* ==========================================================================
   Theme Mixins 
   ========================================================================== */


/* Dupicated for outside of global scope TODO: Fix - not pretty */

@define-mixin theme-colors $dark-color, $light-color {
  [data-theme='dark'] & {
    color: $dark-color;
  }
  [data-theme='light'] & {
    color: $light-color;
  }
}

@define-mixin theme-background-colors $dark-color, $light-color {
  [data-theme='dark'] & {
    background-color: $dark-color;
  }
  [data-theme='light'] & {
    background-color: $light-color;
  }
}

@define-mixin theme-border-colors $dark-color, $light-color {
  [data-theme='dark'] & {
    border-color: $dark-color;
  }
  [data-theme='light'] & {
    border-color: $light-color;
  }
}

@define-mixin theme-font-weights $dark-weight, $light-weight {
  [data-theme='dark'] & {
    font-weight: $dark-weight;
  }
  [data-theme='light'] & {
    font-weight: $light-weight;
  }
}


/* ==========================================================================
   Fluid Mixins 
   ========================================================================== */

/* Set minimum and maximum screen widths (in px) */
$min-vw: 400;
$max-vw: 760;

@define-mixin fluid-font-size $min-size, $max-size {
  $target-font-size: calc(
    ($min-size * 1rem) + ($max-size - $min-size) * ((100vw - (($min-vw / 16 ) * 1rem)) / (($max-vw - $min-vw) / 16))
  );
  font-size: clamp(calc($min-size * 1rem), $target-font-size, calc($max-size * 1rem));
}

@define-mixin fluid-gap $min-size, $max-size {
  $target-gap: calc(
    ($min-size * 1rem) + ($max-size - $min-size) * ((100vw - (($min-vw / 16 ) * 1rem)) / (($max-vw - $min-vw) / 16))
  );
  gap: clamp(calc($min-size * 1rem), $target-gap, calc($max-size * 1rem));
}

@define-mixin fluid-padding $min-size, $max-size {
  $target: calc(
    ($min-size * 1rem) + ($max-size - $min-size) * ((100vw - (($min-vw / 16 ) * 1rem)) / (($max-vw - $min-vw) / 16))
  );
  padding: clamp(calc($min-size * 1rem), $target, calc($max-size * 1rem));
}

@define-mixin fluid-padding-block $min-size, $max-size {
  $target: calc(
    ($min-size * 1rem) + ($max-size - $min-size) * ((100vw - (($min-vw / 16 ) * 1rem)) / (($max-vw - $min-vw) / 16))
  );
  padding-block: clamp(calc($min-size * 1rem), $target, calc($max-size * 1rem));
}

@define-mixin fluid-padding-inline $min-size, $max-size {
  $target: calc(
    ($min-size * 1rem) + ($max-size - $min-size) * ((100vw - (($min-vw / 16 ) * 1rem)) / (($max-vw - $min-vw) / 16))
  );
  padding-inline: clamp(calc($min-size * 1rem), $target, calc($max-size * 1rem));
}

@define-mixin fluid-width $min-size, $max-size {
  $target: calc(
    ($min-size * 1rem) + ($max-size - $min-size) * ((100vw - (($min-vw / 16 ) * 1rem)) / (($max-vw - $min-vw) / 16))
  );
  width: clamp(calc($min-size * 1rem), $target, calc($max-size * 1rem));
}

@define-mixin fluid-height $min-size, $max-size {
  $target: calc(
    ($min-size * 1rem) + ($max-size - $min-size) * ((100vw - (($min-vw / 16 ) * 1rem)) / (($max-vw - $min-vw) / 16))
  );
  height: clamp(calc($min-size * 1rem), $target, calc($max-size * 1rem));
}