---
const { maxWidth } = Astro.props;
---

<div class="wrapper">
  <div class="container" style={maxWidth && `width: min(100%, ${maxWidth}`}>
    <slot />
  </div>
</div>


<style>
  @import "../../styles/mixins/mixins.css";

  .container {
    display: flex;
    flex-direction: column;
    @mixin fluid-gap 5, 7.5;
    margin-inline: auto;
    width: min(100%, 760px);
  }

  .wrapper {
    @mixin fluid-padding-inline 1.25, 3;
  }
</style>