---
const { maxWidth } = Astro.props;
---

<div class="container" style={maxWidth && `width: min(100%, ${maxWidth}`}>
  <slot />
</div>


<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: 7.5rem;
    margin-inline: auto;
    width: min(100%, 814px);
    padding-inline: 2rem;
  }
</style>