---
const { maxWidth } = Astro.props;
---

<div class="container-wrapper">
  <div class="container" style={maxWidth && `width: min(100%, ${maxWidth}`}>
    <slot />
  </div>
</div>

<style>
  .container-wrapper {
    padding-inline: fluid(24px, 48px);
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: fluid(90px, 120px, toRem);
    margin-inline: auto;
    width: min(100%, 760px);
  }
</style>
