---
  const { tag } = Astro.props;
---

<li class="tag">{tag}</li>


<style>
  @import "../../styles/mixins/mixins.css";

  .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 6px;
    font-size: 0.8125rem;
    line-height: 1;
    border-radius: 4px;
    @mixin theme-old background-color, rgba(var(--gray-700-rgb), .25), var(--gray-100);
    @mixin theme-old color, rgba(var(--gray-300-rgb), .5), rgba(var(--gray-700-rgb), .6);

    :global(li.article:hover) & { /* Change color on PageListItem hover */
      @mixin theme-old background-color, rgba(var(--gray-700-rgb), .25), rgba(var(--gray-200-rgb), .5);
    }
  }
</style>