---
const { tag } = Astro.props;
---

<li class="tag">{tag}</li>

<style>
  @import '../../styles/vars.css';
  @import '../../styles/mixins/mixins.css';

  .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 6px;
    font-size: 0.8125rem;
    line-height: 1;
    border-radius: 4px;
    @mixin theme(background-color, $gray-100, $gray-850);
    @mixin theme(color, $gray-800, $gray-600);

    /* Change color on PageListItem hover */
    :global(li.article:hover) & { 
      @mixin theme(background-color, alpha($gray-50, 90%), alpha($gray-850, 90%));
    }
    /* Change color on markdown pages (brighter background) */
    :global(.markdown) & { 
      @mixin theme(background-color, $gray-200, $gray-850);
    }
  }
</style>
